footer {
  width: 100%;
  background-image: image-url("header-bgi.png");
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

.copyright {
  text-align: center;
}

.copyright p {
  margin-bottom: 0;
}