* {
  box-sizing: border-box;
}

header {
  height: 100%;
  width: 100%;
  /* background-color: blanchedalmond; */
}

.top-header-main {
  display: flex;
  background-image: url("../header-bgi.png");      /* 画像のURLを指定       */
  background-size:cover;
  background-repeat:  no-repeat;
  background-attachment: fixed;
}

.title-log-ps {
  margin-left: 40px;
  width: 160px;
  height: 120px;
}

/* .title-log-ps a {
  font-family: 'Luminari';
  color: coral;
  text-decoration:none;
} */

.header-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  /* border: 1px solid #3c9796; */
}

.search-bar-contents {
  margin-right: 30px;
  box-sizing: border-box;
}

.search-form {
  width: 20vw;
  height: 5vh;
  display: flex;
}

.search-input {
  width: 100%;
}

.search-button {
  width: 5vh;
  cursor: pointer;
  background-color: rgb(111, 235, 235);
  padding: 5px
}

.search-icon {
  width: 100%;
  display: inline-block;
}

.header-user-nav {
  display: flex;
}

.header-user-nav li {
  margin-right: 30px;
}

.user-nav {
  /* border: 1px solid #3c9796; */
  display: flex;
  padding: 0;
  margin-bottom: 0;
  /* text-decoration: none; */
}

.user-nav li a{
  color:#fd7e14;
  text-decoration: none;
}

/* .user-nav li a:hover{
  color: #ff0000;
} */
/* a {
  text-decoration: none;

} */
/* li>a {
} */