header {
  // height: 100%;
  width: 100%;
}

.top-header-main {
  display: flex;
  background-image: image-url("header-bgi.png");      /* 画像のURLを指定       */
  background-size:cover;
  background-repeat:  no-repeat;
  background-attachment: fixed;
}

.title-log-ps {
  margin-left: 40px;
  width: 160px;
  height: 120px;
}

.header-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  /* border: 1px solid #3c9796; */
}

.search-bar-contents {
  margin-right: 30px;
  box-sizing: border-box;
}

.search-form {
  width: 20vw;
  height: 5vh;
  display: flex;
}

.search-input {
  border-style: none;
  width: 100%;
}

.search-icon button{
  width: 38px;
  height: 28px;
  border-radius: 25px;
  height: 100%;
  padding: 0;
  border-style: none;
  cursor: pointer;
}

.header-user-nav {
  display: flex;
}

.header-user-nav li {
  margin-right: 30px;
}

.user-nav {
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

.user-nav li a{
  color:#fd7e14;
  text-decoration: none;
}
