<div class="contents">
  <ul class='post-lists'>
  <% @posts.each do |post| %>
    <li class="list">
      <%# <%= link_to '#', method: :get do %> %>
        <div class='post-img-content'>
          <%= image_tag post.image, class: 'post-img' if post.image.attached?%>
        </div>

        <div class='post-info'>
          <h3 class='post-name'>
            <%= post.name %>
          </h3>
        </div>
    </li>
  <% end %>
  </ul>
</div>

