<%=render partial: 'posts/header' %>

<div class="post-contents-wrapper">
  <div class="container">
    <h3 class="post-title">思い出を投稿する</h3>

    <div class="post-forms">
      <%= render partial: "form", locals: { post: @post } %>

      <div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}
// ここから追加 
let geocoder

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}
// ここまで追加 
</script>
<%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZSksW-zSB4rfLiVixRf911AMPx3rGL6I"></script> %>
  <%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZSksW-zSB4rfLiVixRf911AMPx3rGL6I&callback=initMap" async defer></script> %>
    </div>
  </div>
</div>
<%= render partial: 'posts/footer'%>