/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


//  画面遷移ふわっとさせるのに必要
 body {
  display: none;
  // text-decoration: none;
}
//  画面遷移ふわっとさせるのに必要

// button {
//   width: 40px;
//   height: 40px;
//   background-color: coral;
//   border-radius: 50%;
//   border: none;
//   cursor: pointer;
// }

// a:link{
//   text-emphasis: none;
// }

 * {
  font-family: 'Koku-Mincho-Regular','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', 'Luminari', 'Hannotate TC','Wawati SC',sans-serif; 
  color: rgb(100, 100, 100);
  // text-decoration: none;
  }