// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-contents {
  text-align: right;
  margin-right: 40px;
}

.like-link {
  text-decoration: none;
}

.like-link:hover {
  background-color: #fff !important;
}

.like-btn {
  font-size: 16px;
  color: #808080;
  // color: #e54747;
}

.unlike-btn {
  color: #e54747;
  font-size: 16px;
}