/* 一覧画面表示 */
.post-lists {
  /* width: 100vw; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  padding: 0;
}

.post-lists li {
  width: 20vw;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  border: solid 1px #e0e0e0;
  margin: 0 40px 80px;
  box-shadow: 0 10px 25px 0 rgba(253, 251, 115, 0.445);
  // box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  
}
/* 一覧画面表示 */

/* 投稿表示内容 */
.post-img {
  width: 43vh;
  height: 40vh;
  border-radius: 50%;
  transition-duration: .8s;
}

.post-img:hover {
  width: 43vh;
  height: 40vh;
  border-radius: 5px;
}


.list a {
  color: rgb(100, 100, 100);
}

.post-info {
  background-color: #FFF;
  color: black;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

.post-info-contents {
  height: 39px;
  margin: 0 0 10px;
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}

#dependence-tag {
  margin-top: 0;
}

.badge {
  display: block;
}
/* 投稿表示内容 */

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  color: #696969;   /*文字の色を変える*/
  background: rgba(255, 255, 255, 0.5);
  border: none;     /* 枠線をなくす */
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background-color: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /* 角を丸くする */
}

/* .pagenation.active {
  color: green;
} */

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  transition-duration: .8s;
  border-radius: 15px;    /*角を丸くする*/
}
/*ページネーション自体のデザイン*/


.footer-contents {
  height: 100%;
}
