// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-show-prof {
  text-align: center;
}

.user-prof-nickname {
  margin: 10px 0;
}

.user-img {
 height: 250px;
  width: 250px;
  padding: 20px;
  margin: 0 auto;
}

.user-icon {
  margin: 0 auto;
}

.user-prof-detail {
  // border: 1px solid #3c9796;
  padding: 0;
}

.prof-introduction-detail {
  margin: 0 auto;
  width: 71vw;
  word-wrap: break-word; 
}

.update-prf-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#edit-prf-btn {
  width: 40%;
}

#prf-back-btn {
  width: 40%;
}