/* .img-upload {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

} */

/* .weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  text-align: start;
} */

/* .post-form { */
  /* border: 1px solid #3c9796; */
  /* margin-bottom: 40px; */
  /* margin-right: auto; */
  /* width: 100%; */
/* } */

.update-btn-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#edit-post-btn {
  width: 40%;
}

#back-btn {
  width: 40%;
}