.post-contents-wrapper {
  height: 100hv;
}

.post-title {
margin: 30px auto;
}

.img-upload {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.post-forms {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 20px auto;
  width: 50%;
  /* border: 1px solid #3c9796; */
}

.post-form {
  margin-bottom: 40px;
  margin-right: auto;
  width: 100%;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  text-align: start;
}

.post-text {
  width: 100%;
}

#post-url {
  height: 30px;
}

#new-post-btn {
  width: 100%;
}
