

.container {
  text-align: center;
}

.post-box {
  justify-content: center;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2);
   /* mix-blend-mode: color-dodge; */
  border: 1px solid #e0e9e9;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 600px;
}

.post-name {
  line-height: 2em;
  font-weight: bold;
}

.post-box-img {
  /* display: none; */
  margin: 0 auto;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.post-detail-edit {
  /* border: 1px solid #3c9796; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  /* border: 1px solid #3c9796; */

.post-edit-btn {
  color:rgb(100, 100, 100);
}

.post-destroy-btn {
  color: rgb(100, 100, 100);
}

.or-text {
  margin: 0 20px;
}

.detail-contents{
  width: 500px;
  margin: 0 auto;
}

table {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
}

tr {
  text-align: left;
}

th {
  width: 90px;
  padding-top: 10px;
  justify-content: left;
  line-height: 2em;
  vertical-align: top;
  
}

td {
  /* border: 1px solid #3c9796; */
  color: rgb(100, 100, 100);
  word-wrap: break-word; 
  /* word-break: break-all; */
  padding-top: 10px;
}

/* Gmap api */
#map {
  height: 200px;
  width: 70%;
  margin: 0 auto;
}
/* Gmap api */

.comment-box {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.comment-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-column {
  margin-bottom: 20px;
  border-radius: 3px;
  border-color: rgb(200, 200, 200);
}

.comments {
  margin: 10px 0 30px;
}

.comment-list {
  display: flex;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  margin-bottom: 20px;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
  flex-direction: column;
}

.comment-list p {
  margin: 0;
  text-align: left;
}

.asd {
  /* border: 1px solid #3c9796; */
  text-align: left;
  overflow-wrap: anywhere;
  padding-left: 10px;
}

.comment-destroy {
align-self: flex-end;
padding-right: 20px;
}

.trash-box-img {
  height: 25px;
  width: 20px;
}
