body {
  font-family: 'Koku-Mincho-Regular','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'; 
  color:rgb(198, 230, 198);
  background-color: honeydew;
  }

.header-title {

}

.contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;background-image: url(post.image)
}

.post-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  /* border: 1px solid #3c9796; */

}

.post-img {
  width: 33vh;
  height: 33vh;
  border-radius: 50%;
  transition-duration: .8s;
}

.post-img:hover {
  width: 33vh;
  height: 33vh;
  border-radius: 5px;  
}

.post-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.post-name {
  font-size: 2.5vh;
}

.footer-contents {
  height: 100%;
}
